<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Form</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <form
      (ngSubmit)="submitForm()"
      class="mt-16 max-w-3xl mx-auto p-8 bg-white rounded-xl shadow-lg space-y-8 px-4 sm:px-8"
    >
      <div class="header">
        <div class="dropdown-container">
          <option>Select User</option>
          <select
            [(ngModel)]="selectedUser"
            name="user"
            (ngModelChange)="onUserChange($event)"
          >
            <option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </div>

        <div class="button-container">
          <button class="add-user-btn" (click)="backToHome()">Home</button>
        </div>
      </div>
      <div *ngIf="surveySubmitted" class="submitted-message">
        <p>User has already submitted the survey.</p>
      </div>
      <div *ngFor="let question of questions" class="space-y-4">
        <label
          class="block font-medium text-gray-700 text-base sm:text-lg lg:text-xl"
        >
          {{ question.question }}
        </label>

        <input
          *ngIf="question.type === 'text'"
          type="text"
          [(ngModel)]="userResponses[question.id]"
          [name]="'question_' + question.id"
          [required]="question.required"
          class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm sm:text-base"
        />

        <div *ngIf="question.type === 'multiple-choice'" class="space-y-2">
          <div
            *ngFor="let option of question.options"
            class="flex items-center space-x-2"
          >
            <input
              type="radio"
              [name]="'question_' + question.id"
              [value]="option"
              [(ngModel)]="userResponses[question.id]"
              class="h-4 w-4 text-blue-600 focus:ring-blue-500"
            />
            <span class="text-sm sm:text-base">{{ option }}</span>
          </div>
        </div>

        <div *ngIf="question.type === 'dropdown'">
          <select
            [(ngModel)]="userResponses[question.id]"
            [name]="'question_' + question.id"
            [required]="question.required"
            class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm sm:text-base"
          >
            <option *ngFor="let option of question.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <div *ngIf="question.type === 'checkbox'" class="space-y-2">
          <div
            *ngFor="let option of question.options"
            class="flex items-center space-x-2"
          >
            <input
              type="checkbox"
              [name]="'question_' + question.id"
              [value]="option"
              (change)="updateCheckboxSelection($event, question.id, option)"
              [checked]="userResponses[question.id]?.includes(option)"
              class="h-4 w-4 text-blue-600 focus:ring-blue-500"
            />
            <span class="text-sm sm:text-base">{{ option }}</span>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-3 px-4 rounded-md hover:bg-blue-700 transition duration-300 text-base sm:text-lg"
      >
        Submit
      </button>
    </form>
  </body>
</html>
